body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color: pink;
  color: #fff;
  padding: 1rem;
  border-bottom: 2px solid #000;
}

.form-buscar {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.input-buscar {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 200px;
}

.btn {
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 55px;
  height: 35px;
}

.label-buscar {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
  color: #000;
}

.seccion-buscar {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.seccion-resultado {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

/* .container {
  main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    background-color: antiquewhite;
    color: #222;
    padding: 3rem;
    padding-top: calc(3rem + 20px);
    gap: 1rem;
  }
} */
