body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: pink;
  padding: 1rem;
  border-bottom: 2px solid #000;
}

.seccion-buscar h2,
.resultados {
  text-align: center;
}

.form-buscar {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.input-buscar {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  width: 200px;
  padding-left: 0.6rem;
}

.btn {
  background-color: #fff;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 55px;
  height: 35px;
}

.label-buscar {
  margin-right: 0.6rem;
  align-self: center;
}

.seccion-buscar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}
.card-buscar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: all 0.3s ease-in-out;
}
